


/*Header*/

#header-nav {
background-color: #F8AE08;
border-radius: 0;
border: 0;
}

.navbar-brand h1 {
 margin-top: 0;
 margin-bottom: 0;
 font-size: 1.5em;
 color: black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#collapsable-nav a {
	font-size: 18px;
}

/*End header*/


/*Body*/
div.tile {
	padding: 0;
}

div.tile > div.content  {
	background-color: #8E8E8E;
	padding: 5px;
	margin: 10px;
}

div.tile > div.content > h3 {
	margin: 2px;
}
/*End body*/

